<div class="message-container">
  <% if(locals.currentUser) {%>
    <a href="/message/new" class="cte-btn">New Message</a>
  <% } %>
  <% if(locals.messages) {%>
    <% messages.forEach(message => {%>
      <div class="card">
        <div class="card-header">
          <%- include("../icons/user.ejs") %>
          <div class="card-text-container">
            <div class="card-username">
              <%= currentUser?.isMember ? message.firstName + (message.lastName ? " " + message.lastName : "" ) : "*****" %>
            </div>
            <div class="card-time">
              <%= currentUser?.isMember ? formatDistanceToNowStrict(message.createdTimestamp, {addSuffix: true}) : "*****" %>
            </div>
          </div>
        </div>
        <%= message.message %>
        <div class="card-footer">
          <% if(currentUser?.isAdmin) {%>
            <a class="danger-btn" href="/message/<%= message.id%>/delete">Delete</a>
          <% } %>
        </div>
      </div>
    <%})%>
  <% } %>

</div>
